/*******************************************************************************
 * blue.layout.scss
 *
 * Styles for the Hero layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

body {

}

html, body {
  height: 100%;
}

.l-page {
  height: auto;
  min-height: 100%;
}

.l-footer-wrapper {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}

.l-constrained {
  margin: auto;
}

/* Header */
.l-region--header {
  padding: $vert-spacing-unit 0;
}

/* Content Area */
.l-main {
  margin-top: $vert-spacing-unit;
  margin-bottom: $vert-spacing-unit;
}

.l-content {
  min-height: 20em;
}

.l-region--postscript {
  clear: both;
  padding: $vert-spacing-unit 0;
}

@include breakpoint($tab, true) {
  .l-region--sidebar {
    @include grid-span(1, 1);
  }

  .l-content {
    @include grid-span(1, 2);
  }
}

@include breakpoint($desk, true) {
  .l-constrained {
    width:960px;
  }
  .l-region--sidebar {
    @include grid-span(1, 1);
  }

  .l-content {
    @include grid-span(1, 2);
  }
}

@include breakpoint($wide, true) {
  .l-constrained {
    width:1200px;
  }
  .l-region--sidebar {
    @include grid-span(1, 1);
  }

  .l-content {
    @include grid-span(1, 2);
  }
}