/*******************************************************************************
 * blue.layout.scss
 *
 * Styles for the Hero layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

.l-main {
  @include background-grid($color: blue);
  background: black;
}

/* Header */
.l-region--header {
  padding: $vert-spacing-unit 0;
}

/* Content Area */
.l-main {
  margin-top: 2 * $vert-spacing-unit;
  margin-bottom: 2 * $vert-spacing-unit;
}

/* Sidebars */
.l-region--sidebar {
  padding: $vert-spacing-unit $horz-spacing-unit;
}

/* Footer */
.l-footer-wrapper {
  padding: $vert-spacing-unit 0;
}


.l-region--postscript {
  clear: both;
  padding: $vert-spacing-unit 0;
}

@include breakpoint($tab, true) {
  /* Sidebars */
  .l-region--sidebar {
    @include grid-span(4, 1);
  }

  .l-content {
    @include grid-span(8, 5);

  }
}

@include breakpoint($desk, true) {

}
