/*******************************************************************************
 * _layout.scss
 *
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000325}}
.l-page {
  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-page:after {
    content: "";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000330}}
  .l-page footer, .l-page header {
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000332}}
  .l-page .l-region--postscript {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000342}}
.l-region--highlighted,
.l-region--sidebar,
.l-region--postscript,
.l-region--header {
  margin-bottom: 20px; }

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000353}}
  .l-navigation {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000357}}
  .l-main {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 74.57627%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
    .l-main:after {
      content: "";
      display: table;
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000362}}
    .l-main .l-content {
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000367}}
    .l-main .l-region--sidebar {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000372}}
    .l-main .l-region--postscript {
      clear: both;
      display: block; } }
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000385}}
  .l-navigation {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000389}}
  .l-main {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 74.68354%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/\.rvm\/gems\/ruby-2\.0\.0-p247\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
    .l-main:after {
      content: "";
      display: table;
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000394}}
    .l-main .l-content {
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\0000399}}
    .l-main .l-region--sidebar {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/esf\/sites\/all\/themes\/omega_esf\/sass\/layouts\/green\/green\.layout\.scss}line{font-family:\00003104}}
    .l-main .l-region--postscript {
      clear: both; } }
