/*******************************************************************************
 * _layout.scss
 *
 ******************************************************************************/
@import "susy";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: fluid;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.

.l-page {
  @include container; // Define these elements as the grid containers.
  margin-bottom: $vert-spacing-unit;

  // footer and header is full-width by default.
  footer, header { clear: both; }

  .l-region--postscript {
    display: none;
  }
}

// @include susy-grid-background; // Show the columns for debugging.

.l-region--highlighted,
.l-region--sidebar,
.l-region--postscript,
.l-region--header {
  margin-bottom: $vert-spacing-unit;
}


@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-page {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    //@include susy-grid-background; // Show the columns for debugging.
  }

  .l-navigation {
    @include span-columns(3, 12);
  }

  .l-main {
    @include container; // Set the main part to be container on tablet

    @include span-columns(9 omega, 12);

    .l-content {
      clear: both;
      //@include span-columns(9 omega, 9);
    }

    .l-region--sidebar {
      display: none;
      //@include span-columns(0, 9);
    }

    .l-region--postscript {
      clear: both;
      display: block;
    }
  }
}

@include at-breakpoint($desk) {
  .l-page {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    // @include susy-grid-background; // Show the columns for debugging.
  }

  .l-navigation {
    @include span-columns(4, 16);
  }

  .l-main {
    @include container; // Set the main part to be container on tablet

    @include span-columns(12 omega, 16);

    .l-content {
      clear: both;
      //@include span-columns(9, 12);
    }

    .l-region--sidebar {
      display: none;
      //@include span-columns(3, 12);
    }

    .l-region--postscript {
      clear: both;
    }
  }
}
