// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$output: 'isolation';

$tab: 44em;
$desk: 70em;
$wide: 100em;

$grids: 1;
$grids: add-grid(3 9 at $tab);
$grids: add-grid(2 8 at $wide);

$gutters: .25;
