/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_base.scss */
body {
  background: beige; }

/*--------------------------------header--------------------------------*/
/* line 8, ../sass/base/_base.scss */
.l-header {
  font-family: Arial, Helvetica, sans-serif;
  background: #003399;
  height: 75px; }
  /* line 13, ../sass/base/_base.scss */
  .l-header .l-constrained {
    height: 75px;
    background: #003399;
    /* Old browsers */
    background: -moz-linear-gradient(left, #003399 0%, #005ec4 50%, #003399 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #003399), color-stop(50%, #005ec4), color-stop(100%, #003399));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #003399 0%, #005ec4 50%, #003399 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #003399 0%, #005ec4 50%, #003399 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #003399 0%, #005ec4 50%, #003399 100%);
    /* IE10+ */
    background: linear-gradient(to right, #003399 0%, #005ec4 50%, #003399 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003399', endColorstr='#003399',GradientType=1 );
    /* IE6-9 */ }
  /* line 25, ../sass/base/_base.scss */
  .l-header .site-branding__logo {
    padding-top: 15px;
    margin-left: 15px;
    float: left; }
  /* line 31, ../sass/base/_base.scss */
  .l-header img {
    width: 80%;
    height: 80%; }

/*--------------------------------login--------------------------------*/
/* line 49, ../sass/base/_base.scss */
body.not-logged-in .l-content {
  margin-top: 80px;
  background: #003399;
  /* Old browsers */
  background: -moz-linear-gradient(left, #003399 0%, #005ec4 50%, #003399 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #003399), color-stop(50%, #005ec4), color-stop(100%, #003399));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #003399 0%, #005ec4 50%, #003399 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #003399 0%, #005ec4 50%, #003399 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #003399 0%, #005ec4 50%, #003399 100%);
  /* IE10+ */
  background: linear-gradient(to right, #003399 0%, #005ec4 50%, #003399 100%);
  /* W3C */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  float: none; }
/* line 64, ../sass/base/_base.scss */
body.not-logged-in h1 {
  display: none; }
/* line 68, ../sass/base/_base.scss */
body.not-logged-in form {
  color: #FFFFFF; }
  /* line 71, ../sass/base/_base.scss */
  body.not-logged-in form input {
    color: #000000;
    padding: 8px;
    margin-top: 10px; }
  /* line 77, ../sass/base/_base.scss */
  body.not-logged-in form .form-item {
    font-size: smaller;
    float: left;
    display: inline;
    margin-top: 0; }
    /* line 83, ../sass/base/_base.scss */
    body.not-logged-in form .form-item .description {
      margin-top: 10px; }
  /* line 89, ../sass/base/_base.scss */
  body.not-logged-in form .form-item-name {
    padding-right: 20px; }
  /* line 93, ../sass/base/_base.scss */
  body.not-logged-in form .form-text.required {
    width: 120px;
    border: none;
    background: #FFFFFF; }
  /* line 99, ../sass/base/_base.scss */
  body.not-logged-in form .user-login-form div ul li a {
    float: left;
    text-decoration: underline;
    font-size: 80%; }
  /* line 105, ../sass/base/_base.scss */
  body.not-logged-in form .form-actions {
    clear: both;
    float: left; }
  /* line 110, ../sass/base/_base.scss */
  body.not-logged-in form .form-submit {
    float: right;
    background: #FFFFFF;
    border: none;
    font-size: smaller;
    margin-top: -3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

/* line 121, ../sass/base/_base.scss */
.block--system {
  float: right;
  font-size: 80%; }
  /* line 125, ../sass/base/_base.scss */
  .block--system li.first.last.leaf {
    list-style: none; }
  /* line 129, ../sass/base/_base.scss */
  .block--system a {
    color: #ffffff; }

/*--------------------------------content--------------------------------*/
/* line 141, ../sass/base/_base.scss */
.l-main .messages {
  min-height: 40px;
  text-align: center; }
  /* line 145, ../sass/base/_base.scss */
  .l-main .messages a {
    text-decoration: underline;
    padding: 3px; }

/* line 152, ../sass/base/_base.scss */
.l-content {
  margin-bottom: 50px;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px; }
  /* line 160, ../sass/base/_base.scss */
  .l-content h1 {
    margin-bottom: 0;
    padding-bottom: 0.5em;
    font-family: BenchNine, sans-serif;
    border-bottom: 1px solid #b4b4b4; }
  /* line 169, ../sass/base/_base.scss */
  .l-content article {
    font-size: 15px; }
  /* line 173, ../sass/base/_base.scss */
  .l-content .field--name-field-lecturers {
    font-size: smaller; }
  /* line 177, ../sass/base/_base.scss */
  .l-content .field__label {
    padding-bottom: 5px; }
  /* line 181, ../sass/base/_base.scss */
  .l-content .field {
    padding-top: 1.5em; }
  /* line 185, ../sass/base/_base.scss */
  .l-content .field--name-body {
    padding: 0; }
  /* line 194, ../sass/base/_base.scss */
  .l-content .node .node__content h1 {
    border: none; }
  /* line 198, ../sass/base/_base.scss */
  .l-content .node .field__item.even em {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none; }
  /* line 206, ../sass/base/_base.scss */
  .l-content .user-pass {
    padding-top: 1.5em; }
  /* line 210, ../sass/base/_base.scss */
  .l-content input {
    border: 1px solid #000000;
    background: #ffffff;
    padding: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  /* line 217, ../sass/base/_base.scss */
  .l-content .user-login {
    padding-top: 1.5em; }

/*--------------------------------footer--------------------------------*/
/* line 227, ../sass/base/_base.scss */
footer {
  font-family: BenchNine, sans-serif;
  background: #444444;
  font-size: 16px;
  height: 30px; }
  /* line 233, ../sass/base/_base.scss */
  footer ul.menu {
    text-align: center;
    margin: 0;
    padding-top: 5px; }
  /* line 239, ../sass/base/_base.scss */
  footer li {
    display: inline;
    padding: 0px 1.5em; }
  /* line 244, ../sass/base/_base.scss */
  footer a {
    color: #ffffff; }
  /* line 248, ../sass/base/_base.scss */
  footer a.jokes.active {
    color: #ffffff; }

/* line 1, ../sass/base/_lists.scss */
ul {
  list-style: none; }

/* line 5, ../sass/base/_lists.scss */
.l-content ul {
  list-style: disc; }

/* line 9, ../sass/base/_lists.scss */
ul li {
  margin: 0px; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%;
  height: auto; }

/* line 1, ../sass/base/_tables.scss */
table {
  border-collapse: collapse;
  width: 80%;
  max-width: 660px;
  margin-top: 2px; }

/* line 8, ../sass/base/_tables.scss */
th, td {
  border: 1px solid grey;
  padding: 0 1rem;
  background: #ffffff; }

/* line 14, ../sass/base/_tables.scss */
th {
  font-family: BenchNine, sans-serif;
  letter-spacing: 1px;
  text-transform: lowercase; }

/* line 21, ../sass/base/_tables.scss */
td {
  font-size: smaller;
  background: #ffffff;
  padding: 5px; }

/* line 27, ../sass/base/_tables.scss */
table a:hover {
  color: #444444;
  text-decoration: underline; }

/**
 * $BASE-TYPOGRAPHY
 */
/* line 4, ../sass/base/_typography.scss */
html {
  font-family: "BenchNine", Helvetica, Arial, sans-serif;
  font-weight: 300; }

/* line 9, ../sass/base/_typography.scss */
a,
.l-content table a {
  text-decoration: none;
  color: #000000; }

/* line 15, ../sass/base/_typography.scss */
.l-content a {
  text-decoration: underline;
  color: #003399; }

/*--------------------------------jokes--------------------------------*/
/* line 3, ../sass/components/_blocks.scss */
.block-views-jokes-block {
  position: absolute;
  bottom: 0px; }

/* line 9, ../sass/components/_blocks.scss */
.l-region--header .block--views-jokes-block {
  float: left;
  margin-top: -20px;
  display: inline-block; }
/* line 14, ../sass/components/_blocks.scss */
.l-region--header .view-content {
  width: 450px;
  padding-left: 50px;
  color: #FFFFFF;
  font-size: small; }
/* line 21, ../sass/components/_blocks.scss */
.l-region--header .views-row {
  max-width: 450px;
  vertical-align: center;
  margin: auto; }
/* line 27, ../sass/components/_blocks.scss */
.l-region--header h4 {
  margin-bottom: 5px;
  font-style: normal;
  font-size: smaller; }
/* line 33, ../sass/components/_blocks.scss */
.l-region--header span {
  font-style: italic; }

/* line 38, ../sass/components/_blocks.scss */
.block--views-jokes-block-1 {
  background: #bbbbbb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: right;
  width: 100%;
  font-family: BenchNine, sans-serif; }
  /* line 45, ../sass/components/_blocks.scss */
  .block--views-jokes-block-1 .view-header {
    text-align: right;
    padding-right: 15px; }
  /* line 50, ../sass/components/_blocks.scss */
  .block--views-jokes-block-1 .views-row {
    text-align: center;
    padding: 0 30px 10px 30px;
    font-style: italic; }
  /* line 56, ../sass/components/_blocks.scss */
  .block--views-jokes-block-1 .pager {
    text-align: center;
    margin: auto; }
    /* line 60, ../sass/components/_blocks.scss */
    .block--views-jokes-block-1 .pager .pager-previous, .block--views-jokes-block-1 .pager .pager-current, .block--views-jokes-block-1 .pager .pager-next {
      display: inline;
      padding: 0 10px;
      font-size: 12px; }

/*--------------------------------sidebar--------------------------------*/
/* line 3, ../sass/components/_navigation.scss */
.l-region--sidebar {
  margin-top: 2px;
  background: white;
  font-family: BenchNine, sans-serif;
  font-size: 18px;
  text-transform: uppercase; }
  /* line 10, ../sass/components/_navigation.scss */
  .l-region--sidebar .block {
    margin-top: -20px; }
  /* line 14, ../sass/components/_navigation.scss */
  .l-region--sidebar .quicktabs-style-nostyle ul {
    padding: 0; }
  /* line 20, ../sass/components/_navigation.scss */
  .l-region--sidebar ul.quicktabs-tabs li {
    float: left;
    width: 50%;
    text-align: center;
    background: #bbbbbb;
    padding: 2px 0;
    border-bottom: 2px solid #b4b4b4; }
  /* line 29, ../sass/components/_navigation.scss */
  .l-region--sidebar ul.quicktabs-tabs li.active {
    background: white;
    border: none; }
  /* line 35, ../sass/components/_navigation.scss */
  .l-region--sidebar .quicktabs_main {
    clear: both; }
    /* line 38, ../sass/components/_navigation.scss */
    .l-region--sidebar .quicktabs_main .views-field {
      padding: 2px 10px; }
    /* line 42, ../sass/components/_navigation.scss */
    .l-region--sidebar .quicktabs_main .views-field:hover {
      background: lightblue; }
    /* line 46, ../sass/components/_navigation.scss */
    .l-region--sidebar .quicktabs_main li a.active {
      font-weight: bold; }

/*# sourceMappingURL=omega-esf-v2.styles.css.map */
