.block.block--user.block--user-login{
  float: right;
  font-size: 80%;
  top: 0;
  margin-top: 0;
}


.form-item{
  font-size: smaller;
  color: $white;
  float: left;
  display: inline;
  margin-top: 0;

}

.form-required{
  color: $white;
}

.form-item.form-type-textfield.form-item-name{
  padding-right: 20px;

}

.form-text.required{
  width: 120px;
  border: none;
  background: $white;
}

.user-login-form div ul li a{
  color: $white;
  float: left;
  text-decoration: underline;
  font-size: 80%;
}

.form-submit{
  float: right;
  background: $white;
  padding: 2px;
  border: none;
  @include rounded-corners;
}


