table{
  border-collapse: collapse;
  width: 80%;
  max-width: 660px;
  margin-top: 2px;
}

th, td{
  border: 1px solid grey;
  padding: 0 1rem;
  background: #ffffff;
}

th{
  font-family: BenchNine, sans-serif;
  letter-spacing: 1px;
  text-transform: lowercase;

}

td{
  font-size: smaller;
  background: #ffffff;
  padding: 5px;
}

table a:hover {
  color: #444444;
  text-decoration: underline;
}