/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $bench-nine;
  font-weight: $base-font-weight;
}

a,
.l-content table a {
  text-decoration: none;
  color: $black;
}

.l-content a {
  text-decoration: underline;
  color: $blue;
}
