.block-views-jokes-block {
  position: absolute;
  bottom: 0px;
}

.l-region--header{
  .block{
    margin-top: -20px;
  }
  .block--views-jokes-block{
    max-width: 450px;
    float: left;
    display: inline-block;
    padding-left: 50px;
    color: $white;
    font-size: small;
  }

  h4{
    margin-bottom: 5px;
    font-style: normal;
    font-size: smaller;
  }

  span {
      font-style: italic;
  }
}



