/*--------------------------------sidebar--------------------------------*/

.l-region--sidebar{
  margin-top: 2px;
  background: white;
  font-family: BenchNine, sans-serif;
  font-size: 18px;
  text-transform: uppercase;

  .block{
    margin-top: -20px;
  }

  .quicktabs-style-nostyle ul {
    padding: 0;
  }

  ul.quicktabs-tabs {

    li{
      float: left;
      width: 50%;
      text-align: center;
      background: #bbbbbb;
      padding: 2px 0;
      border-bottom: 2px solid #b4b4b4;

    }

    li.active  {
      background: white;
      border: none;
    }
  }

  .quicktabs_main{
    clear: both;

    .views-field{
      padding: 2px 10px;
    }

    .views-field:hover {
      background: lightblue;
    }

    li a.active {
      font-weight: bold;
    }
  }
}