.l-region--sidebar{
  background: white;
  padding-top: 4px;
  font-family: BenchNine, sans-serif;
  font-size: 18px;
  text-transform: uppercase;

  .quicktabs-style-nostyle ul {
    padding-left: 0;
  }

  .quicktabs-tabs {


  }

  ul.quicktabs-tabs {
    display: inline;


    li.active a {
      background: white;
      padding: 5px 20px;
    }

    li a {
      background: grey;
      padding: 5px 20px;
    }
  }

 .views-field{
   padding: 2px 0 2px 10px;
 }

  .views-field:hover {
    background: lightblue;
  }

  .views-field:active {
    background: lightblue;
  }

  .quicktabs_main{
    margin-top: -15px;
  }
}