.l-region--sidebar{

  .quicktabs-style-nostyle ul{
    padding-left: 0;
  }

  .quicktabs-tabs {
    display: inline;
    width: 50%;
    text-align: center;
    margin: 0;
  }

  .active.jquery-once-2-processed {
    padding: 5px 7px;
    margin:0;
  }

  ul.quicktabs-tabs {
    li.active a {
      background: white;
    }

    li a {
      background: grey;
    }
  }
}